In [ ]:
#Tugas 1
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2*(panjang+lebar)
luas = panjang*lebar
volume = panjang*lebar*tinggi

print("Panjang = "+ str(panjang))
print("Lebar = " +str(lebar))
print("Tinggi = "+str(tinggi))
print("Keliling = "+str(keliling))
print("Volume = "+str(volume))

Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling = 91.0
Volume = 5125.0

In [ ]:
# Nilai
kalkulus = (85, 80, 75, 95, 85, 75, 70, 85, 80)
statistika = (75, 90, 80, 80, 85, 90, 75, 85, 75)

# Mahasiswa
shafira1, amanda1, aditya1, nedia1, widya1, hanif1, andi1, dhanar1, hikma1 = kalkulus
shafira2, amanda2, aditya2, nedia2, widya2, hanif2, andi2, dhanar2, hikma2 = statistika

# Rumus
meanshafira = (shafira1 + shafira2) / 2
jhanifandi = hanif1 + hanif2 + andi1 + andi2
meankalkuluswidyadhanarhikmanedia = (widya1 + dhanar1 + hikma1 + nedia1) / 4
meanstatistikawidyadhanarhikmanedia = (widya2 + dhanar2 + hikma2 + nedia2) / 4
meankalkulus = (shafira1 + amanda1 + aditya1 + nedia1 + widya1 + hanif1 + andi1 + dhanar1 + hikma1) / 9
meanstatistika = (shafira2 + amanda2 + aditya2 + nedia2 + widya2 + hanif2 + andi2 + dhanar2 + hikma2) / 9

# Output
print("Rata-rata nilai Shafira                                 = ", meanshafira)
print("Jumlah nilai Hanif dan Andi                             = ", jhanifandi)
print("Rata-rata nilai Kalkulus Widya, Dhanar, Hikma, Nedia    = ", meankalkuluswidyadhanarhikmanedia)
print("Rata-rata nilai Statistika Widya, Dhanar, Hikma, Nedia  = ", meanstatistikawidyadhanarhikmanedia)
print("Rata-rata nilai Kalkulus seluruh mahasiswa              = ", meankalkulus)
print("Rata-rata nilai Statistika seluruh mahasiswa            = ", meanstatistika)

Rata-rata nilai Shafira                                 =  80.0
Jumlah nilai Hanif dan Andi                             =  310
Rata-rata nilai Kalkulus Widya, Dhanar, Hikma, Nedia    =  86.25
Rata-rata nilai Statistika Widya, Dhanar, Hikma, Nedia  =  81.25
Rata-rata nilai Kalkulus seluruh mahasiswa              =  81.11111111111111
Rata-rata nilai Statistika seluruh mahasiswa            =  81.66666666666667

In [ ]:
agustus = 31
kerjaperhari = 8
gajiperjam = 30000

gajiagustus1 = (agustus-3)*8*30000

print(gajiagustus1)

6720000

In [7]:
# Input
# Data Karyawan
jam_kerja_per_hari = 8
upah_per_jam = 30000
jumlah_hari_kerja_agustus = 28
tunjangan_persen = 0.10
upah_lembur_per_jam = 10000
lembur_jam = 5

# Gaji Pokok
total_jam_kerja_agustus = jam_kerja_per_hari * jumlah_hari_kerja_agustus
gaji_pokok = total_jam_kerja_agustus * upah_per_jam

# Tunjangan
tunjangan = tunjangan_persen * gaji_pokok
# Hitung Gaji Lembur
gaji_lembur = lembur_jam * upah_lembur_per_jam

# Gaji Total (Gaji Pokok + Tunjangan + Gaji Lembur)
gaji_total = gaji_pokok + tunjangan + gaji_lembur

# Output
print("1. Gaji pokok pada bulan Agustus               : Rp", gaji_pokok)
print("2. Tunjangan pada bulan Agustus                : Rp", tunjangan)
print("3. Total gaji yang diterima pada bulan Agustus : Rp", gaji_total)

1. Gaji pokok pada bulan Agustus               : Rp 6720000
2. Tunjangan pada bulan Agustus                : Rp 672000.0
3. Total gaji yang diterima pada bulan Agustus : Rp 7442000.0